<div class="card__container">
	<div class="card__image">
		<img src="https://picsum.photos/id/684/600/400" alt="">
	</div>
	<div class="card__content">
		<h5>Lorem ipsum dolor</h5>
		<h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h2>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias beatae, ex consequatur asperiores veniam sequi
			repellendus! Repellendus aspernatur dicta nisi, obcaecati et unde voluptatum, quae excepturi ipsum soluta sapiente
			maxime.</p>
	</div>
</div>
