.title__container {
	width: 100%;
	max-width: 1240px;
	margin: 0 auto;
}

h1 {
	display: flex;
	justify-content: center;
	color: #ffffff;
	font-size: 160px;
	font-weight: 800;
	margin: 10px 0;
}

hr {
	border-color: #5e5e5e;
}
